@{
    ViewData["Title"] = "Admin - Thêm DS nhân sự";
}
<div class="py-2 px-3 position-relative" style="background: white; height: 100%; overflow: auto; ">
    <div style="position: absolute; top: 15%; left: 50%; transform: translate(-50%)">
        <p class="h4 text-center py-2 fw-bold">Thêm DS Nhân Sự</p>
        <form method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <input name="file" type="file" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="text-center">
                <button name="action" value="update" class="btn btn-outline-success">Xong</button>
            </div>
        </form>
    </div>
</div>
