@{
    ViewData["Title"] = "Admin - Thùng rác";
}
<div class="position-relative" style="background: white; height: 100%; overflow: auto; ">
    <div class="container-fluid py-2">
        <p class="text-center h4 fw-bold pt-3"> TRA CỨU THÔNG TIN </p>
        <div>

        </div>
    </div>
</div>
